---
layout: layouts/base.njk
permalink: /
---

Clearly this blog isn't exactly overwhelming at this point, but then Rome wasn't built in a day.  

Although it probably looked substantially better than this after day one, to be fair.

<p>(And this line and the above 2 sentences are from index.njk)</p>

<ul>
{% for article in news.articles %}
  <li class="newsarticle">
  <a href="{{ article.url }}">{{ article.title }}</a>
  <span>{{ article.author }} {{ article.source.name }} - <time>{{ article.publishedAt }}</time></span>
  </li>
{% endfor %}
</ul>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}