<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet"> 
  <title>Eleventy Blog with Netlify CMS</title>
  <style>
    body {
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      background: #353535;
      color: #eaeaee;
    }

    h1 {
      margin-top: 100px;
      margin-bottom: 50px;
    }

    h2 {
      color: #dbd9d9;
      margin-top: 60px;
    }
    
    img {
      height: 200px;
      width: 150px;
      object-fit: cover;
    }

li {
  list-style: none;
}
  a {
    text-decoration: none;
    color: yellow;
   
  }
time {
  font-weight: 300;
  color: #e4e3e7;
}

.date-in-postnjk {
  color: #bfbec0;
}

p {
  color: #b9b7bd;
}


  </style>
</head>
<body>
  
  <h1>This is a bare minimum Eleventy Blog</h1>
  
  
  <p>It has continuous deployemnt to Netlfiy via github, and it's utilising Netlify CMS over the top</p>
  <p>(And this line, and the above line and title are from base.njk)</p>

  {{ content | safe }}
</body>
</html>